<<<<<<< HEAD
=======

>>>>>>> 746f011fd50c691f41b44463dd33fcc1a64ec0ca
.MaterialForm {
    max-width: 600px;
    margin: auto;
  }
  
  .variant-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .variant-row .MuiTextField-root {
    flex: 1;
    margin-right: 10px;
  }
  
  .remove-icon {
    cursor: pointer;
  }
  
